@import "../styles/main.scss";

.FullsizeNav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo {
    width: 300px;
  }

  .navList {
    display: flex;
    gap: 15px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

  .nav {
    color: $primary-white;
    font-size: 18px;
    opacity: 0.8;
    text-decoration: none;

    &:hover {
      color: $primary-pink;
      text-decoration: underline;
    }
  }

  .disabled {
    color: $primary-white !important;
    text-decoration: none !important;
    opacity: 0.5;
    pointer-events: none;
  }
}
