@import "../styling/main.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body{
    //background: $primary-blue;
    min-height: 100%;
    background: linear-gradient($primary-blue,#002850)fixed;
}

.header {
    max-width: 500px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: $primary-white;
}

.nav{
    display:inline-block;
    margin-right: 4px;
    list-style-type: none;
    text-decoration: none;
    text-align: right;
    font-family: 'DM Sans', sans-serif;
    color: $primary-white;
}