@import "../styling/main.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

// Background of website
body{
    min-height: 100%;
    background: linear-gradient(#021e3a,$primary-blue,#021e3a,)fixed;
}

// Header page
.header {
    max-width: 1500px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: $primary-white;
}


.logo{
    display: flex;
    justify-content: flex-start;
}

.nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 10px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    color: $primary-white;
}