@import "./main.scss";

.contact-page {
  padding-top: 120px;

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 0;
  }

  h2 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    padding-bottom: 40px;
  }

  td {
    padding-bottom: 10px;
    vertical-align: center;
  }

  .icon {
    width: 20px;
    margin-right: 20px;

    * {
      fill: #fff;
    }

    &.mail {
      position: relative;
      top: 3px;
    }
  }

  .map-wrapper {
    min-width: 300px;
    max-width: 400px;
  }
}