@import "./main.scss";

.sitefooter {
  color: $primary-white;
  z-index: 100;
  position: relative;
  background-color: #2c3e50;
  padding: 40px 0 80px;
}

.mail-link {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

