@import "./main.scss";

.site-footer {
  color: $primary-white;
  z-index: 100;
  position: relative;
  background-color: #051320;
  padding: 40px 0 80px;
}

.mail-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 1rem;

  .app-name {
    padding-left: 1rem;
  }

  .icon {
    width: 2rem;
    fill: #fff;
    margin-right: 1rem;
  }

  &:hover {
    text-decoration: underline;
  }
}
