@import "./main.scss";

.site-footer {
  color: $primary-white;
  z-index: 100;
  position: relative;
  background-color: #051320;
  padding: 40px 0 80px;
}

.title-footer {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.mail-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 1rem;

  .app-name {
    padding-left: 1rem;
  }

  .icon {
    width: 2rem;
    fill: #fff;
    margin-right: 1rem;
  }

  &:hover {
    text-decoration: underline;
  }
}
