$primary-blue: #002878;
$primary-pink: #ff6464;
$primary-white: #fff;
$primary-light-blue: #68c7ff;
$primary-yellow: #ff9a00;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;
$breakpoint-xxxl: 1920px;

// https://www.youtube.com/watch?v=345V2MU3E_w
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}
