@import "./main.scss";

.dialog {
  position: absolute;
  z-index: 9;
  inset: 1em;
  width: auto;
  background: hsl(210, 100%, 94%);
  border: none;
  max-width: fit-content;
  box-shadow:
    transparentize($color: $primary-pink, $amount: 0.4) 5px 5px,
    transparentize($color: $primary-pink, $amount: 0.5) 10px 10px,
    transparentize($color: $primary-pink, $amount: 0.6) 15px 15px,
    transparentize($color: $primary-pink, $amount: 0.95) 25px 25px;
  h1 {
    color: $primary-pink;
    text-shadow: -1px 1px 0px $primary-blue;
    font-size: larger;
    text-align: left;
    padding-left: 5%;
    padding-top: 0%;
  }

  ul {
    font-size: medium;
    text-align: left;
    padding-left: 10%;
  }

  .link_container {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;

    a,
    button {
      font: inherit;
      display: inline-block;
      border: none;
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 10px 30px;
      background: $primary-pink;
      clip-path: polygon(15px 0, 100% 0, calc(100% - 15px) 100%, 0% 100%);
      transition: all 200ms ease-in-out;
    }
    button {
      background-color: $primary-blue;
    }
  }
}
