@import "./main.scss";

.partner-info {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: auto;
  padding: 0 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  position: relative;
  overflow: hidden;

  .partner-logo {
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 50%;
    width: 50%;
    padding: 5%;
    transform: translateX(-50%);
  }

  .text {
    color: transparent;
    max-width: 50%;
    font-size: 16px;
    transition: all 200ms ease-in-out;
    transform: translateX(300px);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);

    .partner-logo {
      left: 7%;
      width: 40%;
      transform: translateX(0px);
    }

    .text {
      color: $primary-blue;
      padding-left: 50px;
      padding: 18px;
      font-size: 16px;
      overflow: auto;
      transform: translateX(0px);
    }
  }
}

.partner-page {
  padding-bottom: 100px;

  .partner-header {
    padding-bottom: 50px;

    h1 {
      font-size: 35px;
    }

    .button-wrapper {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }

    .contact-button {
      display: inline-block;
      text-align: center;
      color: $primary-blue;
      text-decoration: none;
      padding: 10px 30px;
      background: white;
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
      transition: all 200ms ease-in-out;

      &:hover {
        background: $primary-light-blue;
      }
    }
  }

  .a {
    height: 1100px;
  }
}
