
@import "./main.scss";

.join-page {
  padding-top: 100px;
  padding-bottom: 100px;

  .join-header {
    padding-bottom: 50px;
    h1 {
      font-size: 35px;
    }

    .button-wrapper {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }

    .apply-button {
      display: inline-block;
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 10px 30px;
      background: $primary-pink;
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
      transition: all 200ms ease-in-out;

      &:hover {
        // background: darken($primary-pink, 5%);
        background: $primary-light-blue;
      }
    }
  }

  .a {
    height: 1100px;
  }

  .currentPartners {
    width: 100%;
    height: 350px;
    position: relative;
    margin-bottom: 30px;
    
    background-size: cover;
    background-position: center;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    overflow: hidden;


    .extra {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100%;
      left: 0;
      background-color: rgba($primary-blue, 0.8);
      padding: 18px;
      padding-top: 100px;
      transition: all 300ms ease-in-out;
      font-size: 18px;
    }

    .text {
      padding: 14px 20px ;
      font-size: 18px;
      // background-color: $primary-blue;
      background-color: rgba($primary-pink, 0.7);
      margin-bottom: 15px;
      z-index: 120;
      position: relative;
      transition: all 300ms ease-in-out;
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    }

    &:hover {
      .text {
        transform: translateY(-260px);
        background-color: transparent;
        text-decoration: underline;
      }

      .extra {
        top: 0;
      }
    }
  }
}