@import "./main.scss";

.project-page {
  padding: 100vh 0;

  .header {
    text-shadow: -2px 2px 0px rgba(255, 100, 100, 1);
    font-size: 44px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .animation-video {
    width: 50vw;
    height: calc(50vw / 1.77);
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.overlay-drone {
  pointer-events: none;
}

.overlay-drone > * {
  /* Adjust animation duration to change the element’s speed */
  animation: fly 5s linear;
  pointer-events: none !important;
  top: 0%;
  left: 0%;
  position: absolute;
  animation-delay: 1s;
  z-index: 999999;
}

@keyframes fly {
  from {
    transform: translate(100%, -100%) scale(-1) rotate(30deg);
  }

  to {
    transform: translate(0%, 0vh);
  }
}