@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.scroll {
  position: sticky;
  top: 0px;
  
  width: 100%;
  height: 100%;
}

.main {
  background: #ddd;
  font-family: "Montserrat", sans-serif;
  font-size: 99px;
  z-index: 999999;

  width: 100%;
  height: 50%;
}

.arrow {
  fill: #fff;
}

#arrowBtn {
  cursor: pointer;
}
