@import "./main.scss";

.TeamPage {
  background-color: white;
  min-height: 1000px;
  margin-top: 50px;
  color: black;
  padding: 30px 0px;

  .teamcontainer {
    max-width: 1100px !important;
  }

  h1 {
    color: $primary-blue;
    text-shadow: none;
    font-weight: bolder;
    margin-bottom: 10px;

    .year {
      all: unset;
      display: inline-block;
      margin-left: 20px;
      color: #7689af;
      border-bottom: 3px solid white;
      transition: border-bottom 0.2s ease-in-out;

      .switch-team {
        vertical-align: baseline;
        margin-left: 5px;
        width: 32px;
        height: 32px;
        display: inline-block;
        margin-block: auto;
      }

      &:is(:hover, :focus, :active) {
        border-bottom: 3px solid #7689af;
        cursor: pointer;
      }
    }
  }

  .TeamMember {
    width: 330px;
    max-width: 100%;
    margin-bottom: 30px;

    .photo-container {
      position: relative;
      margin-bottom: 30px;

      .photo {
        display: block;
        background: lightgray;
        width: 100%;
        height: 400px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      }

      .contact-details {
        display: flex;
        justify-content: flex-end;
        bottom: 0;
        right: 0;
        padding-right: 10px;

        a {
          margin-top: -20px;
          margin-left: 10px;
          display: block;
          line-height: 0;

          .icon {
            width: 20px;
            height: 20px;
            fill: #909090;
            transition: fill 150ms ease-in-out;

            &.mail {
              position: relative;
              bottom: -2px;
            }

            &.linkedin {
              position: relative;
            }

            &:hover {
              fill: $primary-blue;
            }
          }
        }
      }
    }

    .line {
      border-top: 3px solid #909090;
    }

    .name {
      margin-top: 20px;
      color: #555;
      font-weight: bold;
      font-size: 24px;
    }

    .title,
    .study {
      font-style: italic;
      color: #555;
      font-size: large;
    }

    .study {
      font-size: medium;
    }
  }

  .subteams {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    &[aria-hidden="true"] {
      display: none;
    }
  }

  .TeamMember .subteams {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .subteam {
    color: $primary-blue;
    border: 2px solid $primary-blue;
    border-radius: 100px;
    padding: 2px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;

    .TeamMember > & {
      margin-top: 20px;
    }

    &.selected {
      background-color: $primary-blue;
      color: white;
    }
  }
}
